main > .container{
    display: flex;
    flex-direction: column;
}

#hero {
    width: 100%;
    margin-top: 20px;
}

h1 {
    display: flex;
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin: 20px;
    justify-content: center;
}

p {
    font-family: 'Playfair Display', serif;
}

#whyUs {
    width: 40%;
    float: left;
}

#callToAction {
    width: 60%;
}

@media (max-width: 800px) {
    #whyUs{
        width: 100%;
    }

    #callToAction {
        width: 100%;
    }
}
