:root {
    --tan: #c9a690;
    --light-green: #c2efb3;
    --dark-green: #288654;
    --white: white;
    --red-border: rgb(155, 0, 0);
    --maroon: #570000;
    --footer-height: 65px;
}

a:link{
    text-decoration: none;
}

a:visited{

}

a:hover{
    text-decoration: underline;
}

a:focus{

}

a:active{

}

header {
    position: fixed;
    top: 0px;
    width: 100vw;
    height: 80px;
    background-color: var(--tan);
    display: grid;
    grid-template-columns: 150px 1fr 150px; 
}

nav {
    grid-column: 2;
    display: flex;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

li {
    display: inline;
}

main {
    padding-top: 60px;
    padding-bottom: 80px;
}

footer {
    position: fixed;
    bottom: 0;
    height: 65px;
    background-color: var(--tan);
    width: 100vw;
}

#copyright {
    position: absolute;
    bottom: 25px;
    right: 30px;
    font-size: 10px;
}

@media (min-width: 600px) {
    div.mobileFeature {
        display: none;
    }
}

@media (max-width: 600px) {
    .disappearing {
        display: none;
    }
    
    /* #burger {
        grid-column: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    div.mobileFeature {
        display: flex;
        justify-content: center;
        margin: 20px;
    }
}

