#eligibility-form {
    max-width: 600px;
    margin: 0 auto;
}

footer {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: var(--footer-height);
}