header {
    background-color: var(--mdc-theme-primary);
    /* height: 80px; */
}

a:hover {
    color: white;
}

#nav-bar {
    display: flex;
    justify-content: space-around;
}


footer {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: var(--footer-height);
}

.footer--fixed-adjust {
    padding-bottom: var(--footer-height)
}

/* @media (max-width: 600px) {
    footer {
        position: ;
    }
    
} */