main {
    /* display: grid;
    grid-template: 1fr 2fr 2fr / 1fr 1fr 1fr;
    padding-top: 100px; */
    background-color: var(--dark-green);
}

.blackjack-table-header {
    color: var(--white);
    grid-area: 1/1/1/4;
    font-family: 'Cinzel', serif;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 20px;
}

.hidden {
    display: none;
}

h2 {
    /* color: var(--white); */
    font-family: 'Playfair Display', serif;
    font-size: 17px;
    display: flex;
    justify-content: center;
}

#dealersCards ol,
#playersCards ol {
    flex-wrap: wrap;
}

ol li {
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 140px; */
    width: 108px;
    margin-bottom: 10px;
    word-wrap: break-word;
    position: relative;
    /* border-radius: 20px; */
    /* border: 5px solid var(--red-border); */
}

ol li:hover::after {
    content: attr(data-blackjack-value);
    position: relative;
    background-color: white;
    color: black;
    /* top: 50px;
    left: 5px; */
    box-sizing: border-box;
    width: 70px;
    padding: 20px;
}

/* page specific button styles */
#playersActions button:hover::before {
content: attr(data-user-hints);
position: absolute;
top: 400px;
left: 20px;
background-color: var(--light-green);
box-sizing: border-box;
width: 220px;
padding: 20px;
border-radius: 30px;
border: 2px solid(teal);
}

button:active::before {
color: tan;
}

/* footer {
    background-color: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 65px;
} */