.main-container {
    margin: 0 auto;
    padding: 24px;
    max-width: 900px;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.flex-column {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.justify-right {
    justify-content: end;
}

.space-evenly {
    justify-content: space-evenly;
}

.take-width {
    box-sizing: border-box;
    width: 100%;
}

.ampler-padding {
    padding: 24px;
}

.fullish-height {
    min-height: 80vh;
    padding: 24px;
  }